<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="home.css" rel="stylesheet" type= "text/css">
    <link href="https://fonts.googleapis.com/css?family=Galindo&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

        <nav>
                <div class="logo">
                <a id="navTK" class="navText">TimeKiller</a>
                <img src="assets/TimeKillerLogo.png" id="logo">
                </div>
                <a id="navSI" class="navText">Login</a>
                <a id="navSU" class="navText">Sign Up</a>
        </nav>

    <main>

    <header>
        <h1 id= "GamesTitle">Games</h1>
    </header>

    <section id="games">

        <a href>

    </section>

    </main>

</body>
</html>