*{
    margin:0px;
}

h1{
    font-family: 'Galindo', sans-serif;
    text-shadow:2px 2px rgb(0, 0, 0);
    color:white;
}

a{
    font-family: 'Galindo', sans-serif;
    text-shadow:2px 2px rgb(0, 0, 0);
    color:white;
}

nav{
    border:3px rgb(139, 179, 251) solid;
    background:rgb(139, 179, 251);
}

.navText{
    text-align:center;
    font-size:40px;
    padding-right:20px;
}

#navSI{
    padding-left:740px;
}

#GamesTitle{
    font-size:100px;
    color:rgb(139, 179, 251);
    text-shadow:black;
}


