<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="signup.css" rel="stylesheet" type= "text/css">
    <link href="nav.css" rel="stylesheet" type= "text/css">
    <link href="https://fonts.googleapis.com/css?family=Galindo&display=swap" rel="stylesheet">
    <script src="main.js"></script>
    
    <title>Document</title>
</head>
<body>
        <nav>
                <div class="logo">
                <a id="navTK" class="navText">TimeKiller</a>
                <img src="assets/TimeKillerLogo.png" id="logo">
                </div>
                <a id="navSI" class="navText">Login</a>
                <a id="navSU" class="navText">Sign Up</a>
        </nav>

        <main>

            <section id="box">

            <h1 id="signupTitle">Sign Up</h1>

            
            <input id="usernameInput"placeholder="username">
            <input id="usernameInput"placeholder="email">
            <input id="passwordInput"placeholder="password" type="password">
            <div id="checkboxSection">
                <a id="showPSWBox" onclick="showPassword()"></a>
                <h1 id="showPSWText">Show Password</h1>
            </div>
                <a href id="submitButton">Submit</a>
            </section>

        </main>
</body>
</html>