<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="signIn.css" rel="stylesheet" type= "text/css">
    <link href="https://fonts.googleapis.com/css?family=Galindo&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
        <nav>
                <a id="navTK" class="navText">TimeKiller</a>
                <a class="navText">Logo</a>
                <a id="navSI" class="navText">Login</a>
                <a id="navSU" class="navText">Sign Up</a>
        </nav>

        <main>

            <section id="box">

            <h1 id="loginTitle">Login</h1>

            
            <input id="usernameInput"placeholder="username or email">
            <input id="passwordInput"placeholder="password">

                <a href id="submitButton">Submit</a>

            </section>

        </main>
</body>
</html>